Dynamia.BillingSystem.TestProject/Service References/SAPFinancialRulesService/SI_ReglasSAPFI_Out.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://publicar.com/MSE/Financial/SI_ReglasSAPFI_Out" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://publicar.com/MSE/Financial/SI_ReglasSAPFI_Out" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s1="http://pub_crm_externo/canales" xmlns:s0="urn:sap-com:document:sap:rfc:functions" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:s="http://www.w3.org/2001/XMLSchema">
      <s:element name="ZSD_VAL_FI_WEBSERVICE">
        <s:complexType>
          <s:all>
            <s:element name="I_CANAL_FAC">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:maxLength value="10" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element name="I_ID_USUARIO">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:maxLength value="2" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element name="I_MONEDA">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:maxLength value="5" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element name="I_ORG_VENTAS">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:maxLength value="4" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="ET_FALLAS">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="item" type="s0:ZSD_COD_FALLA2" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="ET_FEC_CANT">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="item" type="s0:ZSD_FEC_CUOTA" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element name="IT_CUOTAS">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="item" type="s0:ZSD_CUOTAS3" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:all>
        </s:complexType>
      </s:element>
      <s:complexType name="ZSD_COD_FALLA2">
        <s:sequence>
          <s:element minOccurs="0" name="MATNR">
            <s:annotation>
              <s:documentation>Material Number</s:documentation>
            </s:annotation>
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="18" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="ZCODF">
            <s:annotation>
              <s:documentation>Single-Character Indicator</s:documentation>
            </s:annotation>
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="1" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="ZDESC">
            <s:annotation>
              <s:documentation>Char255</s:documentation>
            </s:annotation>
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="255" />
              </s:restriction>
            </s:simpleType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_CUOTAS3">
        <s:sequence>
          <s:element minOccurs="0" name="MATNR">
            <s:annotation>
              <s:documentation>Material Number</s:documentation>
            </s:annotation>
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="18" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="Z_ID_CUOT">
            <s:annotation>
              <s:documentation>numc06</s:documentation>
            </s:annotation>
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="6" />
                <s:pattern value="\d+" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="ZFECCT">
            <s:annotation>
              <s:documentation>Start Date/Delivery Number</s:documentation>
            </s:annotation>
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="10" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="ZVALCT">
            <s:annotation>
              <s:documentation>Amount in Document Currency</s:documentation>
            </s:annotation>
            <s:simpleType>
              <s:restriction base="s:decimal">
                <s:totalDigits value="13" />
                <s:fractionDigits value="2" />
              </s:restriction>
            </s:simpleType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_FEC_CUOTA">
        <s:sequence>
          <s:element minOccurs="0" name="MATNR">
            <s:annotation>
              <s:documentation>Material Number</s:documentation>
            </s:annotation>
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="18" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="FECVL">
            <s:annotation>
              <s:documentation>Start Date/Delivery Number</s:documentation>
            </s:annotation>
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="10" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="MENGE" type="s:integer" />
          <s:element minOccurs="0" name="MAKTX">
            <s:annotation>
              <s:documentation>Material Description (Short Text)</s:documentation>
            </s:annotation>
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="40" />
              </s:restriction>
            </s:simpleType>
          </s:element>
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s1="http://pub_crm_externo/canales" xmlns:s0="urn:sap-com:document:sap:rfc:functions" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://pub_crm_externo/canales" xmlns:s="http://www.w3.org/2001/XMLSchema">
      <s:element name="MT_ReglasSAPFI_Response" type="s1:DT_ReglasSAPFI_Response" />
      <s:complexType name="DT_ReglasSAPFI_Response">
        <s:annotation>
          <s:appinfo source="http://sap.com/xi/VersionID">64474d2f363111e18e2f000000edaa62</s:appinfo>
        </s:annotation>
        <s:sequence>
          <s:element minOccurs="0" name="E_ESTATUS" type="s:boolean">
            <s:annotation>
              <s:appinfo source="http://sap.com/xi/TextID">9bbedbbe2a9311e1a71400ff982c3688</s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" name="ET_FALLAS">
            <s:annotation>
              <s:appinfo source="http://sap.com/xi/TextID">9bbf191b2a9311e18d8200ff982c3688</s:appinfo>
            </s:annotation>
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="item" type="s1:DT_Fallas">
                  <s:annotation>
                    <s:appinfo source="http://sap.com/xi/TextID">9bbedbc22a9311e1afd600ff982c3688</s:appinfo>
                  </s:annotation>
                </s:element>
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" name="ET_FEC_CANT">
            <s:annotation>
              <s:appinfo source="http://sap.com/xi/TextID">9bbf44cd2a9311e1a46200ff982c3688</s:appinfo>
            </s:annotation>
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="item" type="s1:DT_Fec_Cant">
                  <s:annotation>
                    <s:appinfo source="http://sap.com/xi/TextID">9bbf19202a9311e1bd4600ff982c3688</s:appinfo>
                  </s:annotation>
                </s:element>
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="DT_Fec_Cant">
        <s:annotation>
          <s:appinfo source="http://sap.com/xi/VersionID">329e3c3e363111e18881000000edaa62</s:appinfo>
        </s:annotation>
        <s:sequence>
          <s:element minOccurs="0" name="MATNR" type="s:string" />
          <s:element minOccurs="0" name="FECVL" type="s:string" />
          <s:element minOccurs="0" name="MENGE" type="s:integer" />
          <s:element minOccurs="0" name="MAKTX" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DT_Fallas">
        <s:annotation>
          <s:appinfo source="http://sap.com/xi/VersionID">c693a7cc363011e18f40000000edaa62</s:appinfo>
        </s:annotation>
        <s:sequence>
          <s:element minOccurs="0" name="MATNR" type="s:string" />
          <s:element minOccurs="0" name="ZCODF" type="s:string" />
          <s:element minOccurs="0" name="ZDESC" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OP_ReglasSAPFI_OutSoapIn">
    <wsdl:part xmlns:q1="urn:sap-com:document:sap:rfc:functions" name="ZSD_VAL_FI_WEBSERVICERequestPart0" element="q1:ZSD_VAL_FI_WEBSERVICE" />
  </wsdl:message>
  <wsdl:message name="OP_ReglasSAPFI_OutSoapOut">
    <wsdl:part xmlns:q2="http://pub_crm_externo/canales" name="MT_ReglasSAPFI_ResponseRequestPart0" element="q2:MT_ReglasSAPFI_Response" />
  </wsdl:message>
  <wsdl:portType name="svc_SI_ReglasSAPFI_Out">
    <wsdl:operation name="OP_ReglasSAPFI_Out">
      <wsdl:input message="tns:OP_ReglasSAPFI_OutSoapIn" />
      <wsdl:output message="tns:OP_ReglasSAPFI_OutSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_svc_SI_ReglasSAPFI_Out" type="tns:svc_SI_ReglasSAPFI_Out">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OP_ReglasSAPFI_Out">
      <soap:operation soapAction="OP_ReglasSAPFI_Out" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="svc_SI_ReglasSAPFI_Out">
    <wsdl:port name="BasicHttpBinding_svc_SI_ReglasSAPFI_Out" binding="tns:BasicHttpBinding_svc_SI_ReglasSAPFI_Out">
      <soap:address location="http://pubevlmia440.carvajal.com.co/Financial/SAP/1.0/BasicHttp/SI_ReglasSAPFI_Out" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>